
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #eee8ec;
  margin: 0;
  padding: 0;
}

#gameCanvas {
  margin: 20px auto;
  display: block;
  border: 2px solid #d30909;
}

#score {
  font-size: 40px;
  margin-top: 40px;
  font-weight: bold;
}

/* Select the "S" in the heading */
h1::first-letter {
    color: green;
  }
  
  /* Select the first "a" in the heading */
  h1::first-line::first-letter + :first-letter {
  color: red;
}

h1 {
  color: #f02727;
  font-size: 36px;
  margin-top: 20px;
}

button {
  font-size: 20px;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f02727;
  color: white;
  border: none;
  cursor: pointer;
}

.score {
  font-size: 40px;
  margin-top: 40px;
  font-weight: bold;
  align-self: left;
}

.highscore {
  font-size: 40px;
  margin-top: 40px;
  font-weight: bold;
  align-self: right;
}
